@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
  color: #222;
  line-height: 1.6;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* HEADER */
.navbar {
  background: #0d362b;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.navbar h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}
.navbar .navbar-menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: 0.3s;
}
.navbar .navbar-menu a:hover {
  color: #ffce63;
}

.navbar .navbar-icon a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-icon a:hover {
  color: #fff;
}

/* HERO */
.hero {
  padding: 80px 40px;
  text-align: center;
  background: white;
}
.hero-img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 25px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.hero h2 {
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: 600;
}
.hero p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  color: #555;
}

/* SECTION */
.section {
  padding: 60px 40px;
  max-width: 1000px;
  margin: auto;
}
.section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}
.section-img {
  width: 100%;
  border-radius: 16px;
  margin-top: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

/* GRID */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.item {
  background: #8bc4a4;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s;
  animation: fadeUp 0.7s ease;
}
.item:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.13);
}
.item img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
}
.item h4 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

/* PROMO */
.promo-box {
  background: #8bc4a4;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.promo-img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  background: #0d362b;
  color: white;
  margin-top: 40px;
  font-weight: 300;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#hamburger-menu {
  display: none;
}
/* BARU | Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Media series */
/* Laptop */
@media (max-width: 1366x) {
  html {
    font-size: 90%;
  }
}

/* Tablet */
@media (max-width: 768x) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  /* BARU | Navbar search form */
  .navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
  }

  .navbar .search-form.active {
    transform: scaleY(1);
  }

  .navbar .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-menu.active {
    right: 0%;
  }

  .navbar .navbar-menu a {
    color: var(--bg);
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-menu a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-menu a:hover::after {
    transform: scaleX(0.2);
  }
}
/* Mobile HP*/
@media (max-width: 450x) {
  html {
    font-size: 55%;
  }
}
